*{
    margin: 0;
    padding: 0;
}
.whole{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(../images/shoppingsignup.png);
    background-size: cover;
}


.nav{
    display: flex;
    flex: 0.1;
}
.main{
    display: flex;
    flex: 0.75;
    background-repeat: no-repeat;
    justify-content: center;  
    flex-direction: column;
    align-items: center;
}

.form{
    justify-content: center;
    border: 2px solid none;
    height: 450px;
    align-items: center;
    width: 350px;
    align-content: center;
    background-color: hsla(0.9, 50%, 70%, 0.5);
    justify-content: center;
    padding-top: 50px;
    margin-top: 50px;
}
.firstname{
    margin-top: 13px;
    
}
.link{
    display: flex;
    flex: 0.13;
}

.footer{
   padding-top: 30px;
    width: 100vw;
}
.firstform_open{
    display: flex;
    flex-direction: column;
    animation: slideleft 2s;

}
.firstform_closed{
    display: none;

}
.secondform_closed{
display: none;
}
.secondform_open{
    display: flex;
    flex-direction: column;
animation: slideright 3s;
}

@keyframes slideleft{
0%{
    transform: translateY(-1000px);
}
100%{
    transform: translateY(0px);
}
}

@keyframes slideright{
    0%{
        transform: scale(0.5);
    }

    50%{
        
        transform: scale(1.1);
    }

    100%{
        transform: scale(1);
    }
}